@page
@model TestingTutor.UI.Pages.TestConcepts.DetailsModel

@{
    ViewData["Title"] = "Test Concept Details";
}

<h2>Details</h2>

<div>
    <h4>TestConcept</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TestConcept.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TestConcept.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TestConcept.ConceptualContent)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TestConcept.ConceptualContent)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TestConcept.DetailedContent)
        </dt>
        <dd class="col-sm-9">
            @Html.Raw(Model.TestConcept.DetailedContent)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TestConcept.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
