@page
@model TestingTutor.UI.Pages.TestConcepts.IndexModel

@{
    ViewData["Title"] = "Testing Concepts Library";
}

<h2>Testing Concepts Library</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
@foreach (var item in Model.TestConcept)
{
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#concept_@item.Id">
                        @item.Name
                    </button>
                </h2>
            </div>
        </div>
        <div id="concept_@item.Id" class="collapse">
            <div class="card-body">
                <div class="card-title">
                    <h1>
                        @item.Name
                    </h1>
                </div>
                <p class="lead">
                    @Html.Raw(item.ConceptualContent)
                </p>
                <p class="lead">
                    @Html.Raw(item.DetailedContent)
                </p>
                <div class="mx-auto text-center">
                    <div class="btn-group">
                        <a class="btn btn-primary text-light" role="button" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-primary text-light" role="button" asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                        <a class="btn btn-primary text-light" role="button" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
